<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>טופס פגיע</title>
</head>

<body dir="rtl">
<div class="contener">
        <h1>טופס גט חדש</h1>
    <form action="/submit" method="get">
        <label for="name">name</label><br>
        <input type="text" name="name" /><br>
        <label for="email">email</label>
        <input type="email" name="email" />
        <input type="submit" value="שלח" />
    </form>
    <h2>טופס פוסט חדש</h2>
    <form action="/submit" method="post">
        <label for="name">name</label><br>
        <input type="text" name="name" /><br>
        <label for="email">email</label>
        <input type="email" name="email" />
        <input type="submit" value="שלח" />
    </form>
</div>

</body>

</html>